<!DOCTYPE html>
<html ng-app="bookstore">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/client/static/css/bookstore.css" />
</head>
<body>

{% block content %}{% endblock %}

</body>
</html>