<footer class="text-center text-muted">
    <div class="container">
        <hr>
        <small>
            <strong>SIH Niaga Sdn. Bhd.</strong> merupakan sebuah syarikat yang mengendalikan perniagaan untuk Sekolah Islam Hidayah,
            komited kepada perkhidmatan penjualan buku dan kelengkapan pembelajaran kepada pelajar Sekolah Islam Hidayah.
            Antara perniagaan yang dijalankan adalah Kedai SRIH, kantin Sekolah Islam Hidayah, Restoran D'Hidayah Cafe dan perkhidmatan katering.
            Sistem jualan buku secara <i>online</i> mula diperkenalkan pada 6 November 2012 untuk memudahkan urusan pembelian buku bagi setiap sesi persekolahan.
            Kami berharap dapat memudahkan ibu bapa semua pelajar SRIH untuk berurusan dengan pihak Kedai SRIH.
            <hr>
            <ul class="list-inline">
                <li><a href="mailto:bookstore@sihniaga.com">bookstore@sihniaga.com</a></li>
                <li><a href="/legal/policy">Polisi Kerahsiaan</a></li>
                <li><a href="/legal/tnc">Terma &amp; Syarat</a></li>
            </ul>
        </small>
    </div>
</footer>