<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Kedai Buku SIH &mdash; Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/client/static/css/dashboard.css" />
</head>
<body ng-app="dashboard">

testing 123


<script src="/client/static/js/min/_libraries-min.js"></script>
<script src="/client/static/js/_env.js"></script>
<script src="/client/static/js/_dashboard.js"></script>
</body>
</html>