<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Kedai Buku SIH &mdash; Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/client/static/css/dashboard.css" />
</head>
<body ng-app="dashboard">

<nav id="navigasi">
    <div class="container">
        <div class="nav-title text-muted"><span class="lnr lnr-layers"></span> Dashboard Kedai SIH</div>
        <ul class="list-inline small">
            <li><a ng-class="{ active: currentPath == '/' }" href="#/">Utama</a></li>
            <li><a ng-class="{ active: currentPath == '/order' }" href="#/order">Order</a></li>
            <li><a ng-class="{ active: currentPath == '/inventori' }" href="#/inventori">Inventori</a></li>
            <li><a ng-class="{ active: currentPath == '/pengguna' }" href="#/pengguna">Pengguna</a></li>
            <li class="pull-right"><a href="/">Keluar</a></li>
        </ul>
    </div>
</nav>

<div id="content">
    <div class="container" ng-view autoscroll></div>
</div>


<script src="/client/static/js/min/_libraries-min.js"></script>
<script src="/client/static/js/_env.js"></script>
<script src="/client/static/js/_dashboard.js"></script>
</body>
</html>