@import '../../components/bootstrap/scss/bootstrap';
@import 'fonts';
@import 'linearicons';

body { background: #EEE; }
.navbar { border-radius: 0; }

#body { padding-top: 20px; }
.email-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #FFF;
    box-shadow: 0 0 3px rgba(#000, 0.1);
    small { display: block; }
}

footer { margin-top: 100px; }
form label {
    margin-bottom: 0;
    font-size: 0.8em;
    @extend .text-muted;
}

a:hover { text-decoration: none; }

#map2 {
    width: 100%;
    height: 420px;
    border: 1px solid #FFF;
}


.shop-header {
    h1 {
        margin-bottom: 0;
        font-size: 3rem;
    }
    h3 small {
        margin-top: 5px;
        font-size: 0.5em;
        display: block;
    }
    ul .active {
        border-bottom: 1px solid;
        color: #666;
        &:hover { cursor: default; }
    }
    ul li {
        position: relative;
        .notification {
            position: absolute;
            font-size: 1.5em;
            top: -12px;
            right: -2px;
        }
    }
}

.package {
    max-width: 700px;
    margin: 0 auto;
    > li { position: relative; }
    .package-control {
        position: absolute;
        right: 16px;
        top: 16px;
    }
    .package-content {
        margin-top: 10px;
        .table {
            thead th {
                @extend .text-muted;
                font-weight: normal;
                font-size: 0.8em;
                border-bottom: 0;
                input[type="checkbox"] {
                    position: relative;
                    top: -1px;
                    margin-right: 8px;
                }
            }
            td {
                position: relative;
                input[type="checkbox"] {
                    position: absolute;
                    top: 8px;
                }
            }
            .package-list-title {
                display: inline-block;
                padding-left: 20px;
            }
        }
    }
}

.instruction {
    margin-bottom: 20px;
}