<div class="instruction text-center" ng-if="cartItems.length">
    <small class="text-muted">
        Sila semak ambilan anda sebelum membuat pembayaran.<br>
        Klik <a href="#/status">Status</a> untuk melihat status order anda.
    </small>
</div>

<div class="cart-container">
    <div ng-if="cartItems.length">
        <table class="table table-striped table-sm small">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tajuk Buku</th>
                    <th>Penerbit</th>
                    <th class="text-center">Qty</th>
                    <th class="text-right">Harga <span class="hidden-sm-down">RM</span></th>
                    <th class="text-right">Jumlah <span class="hidden-sm-down">RM</span></th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in cartItems">
                    <td ng-bind="$index + 1"></td>
                    <td ng-bind="book.title"></td>
                    <td ng-bind="book.publisher"></td>
                    <td class="text-center">
                        <a ng-class="{ disabled: book.qty == 1 }" ng-click="qtymod(book)"><span class="lnr lnr-circle-minus"></span></a>
                        <span ng-bind="book.qty"></span>
                        <a ng-click="qtymod(book, 'add')"><span class="lnr lnr-plus-circle"></span></a>
                        <!-- <select ng-model="book.qty" ng-options="v for v in [1,2,3,4,5]"></select> -->
                    </td>
                    <td class="text-right" ng-bind="book.price | number:2"></td>
                    <td class="text-right" ng-bind="book.price * book.qty | number: 2"></td>
                    <td class="text-center">
                        <a ng-click="removeFromCart(book)" class="text-danger">
                            <span class="lnr lnr-cross"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <a class="btn btn-secondary">Bayar RM<span ng-bind="grandTotal().total | number:2"></span></a>
        </div>
    </div>
    <div class="text-center empty" ng-if="!cartItems.length">
        <h1><span class="lnr lnr-warning"></span></h1>
        <span class="small">
            Anda tidak mempunyai sebarang ambilan.
        </span>
    </div>
</div>