{% extends 'partials/base.twig' %}
{% set active_page = 'Panduan' %}

{% block content %}
    {% embed 'partials/navigation.twig' %}{% endembed %}
    <section id="body">
        <div class="container">
            <h1>Panduan</h1>
            <p>
                Halaman ini mengajar anda cara <a href="#beli">membeli</a> dan <a href="#bayar">membayar</a> menggunakan aplikasi <strong>Kedai Buku SIH</strong>.
                Untuk sebarang pertanyaan atau permasalahan, sila hubungi kami menggunakan <a href="contact">pautan ini.</a>
            </p>
            <hr>
        </div>
    </section>
{% endblock %}