{% extends 'partials/base.twig' %}
{% set active_page = 'Panduan' %}

{% block content %}
    {% embed 'partials/navigation.twig' %}{% endembed %}
    <section id="body">
        <div class="container">
            <h1>Panduan</h1>
            <p>
                Halaman ini mengajar anda cara <a href="#beli">membeli</a> dan <a href="#bayar">membayar</a> menggunakan aplikasi <strong>Kedai Buku SIH</strong>.
                Untuk sebarang pertanyaan atau permasalahan, sila hubungi kami menggunakan <a href="contact">pautan ini.</a>
            </p>
            <hr>
<!--
            <div id="beli">
                <h3 class="text-muted"># Membeli</h3>
                <p>Membeli dengan</p>
            </div>
            <hr>
            <div id="bayar">
                <h3 class="text-muted"># Membayar</h3>
                <p>Kedai Buku SIH menggunakan perkhidmatan <a href="http://billplz.com">BillPlz</a> untuk urusan pembayaran. Perkhidmatan ini amat mudah dan selamat.</p>
            </div>
 -->
        </div>
    </section>
{% endblock %}