{% extends 'partials/base.twig' %}
{% set active_page = 'Utama' %}

{% block content %}
    {% embed 'partials/navigation.twig' %}{% endembed %}
    <section id="body">
        <div class="container text-center">
            <h1><strong>Selamat Datang ke {{ env.BOOKSTORE_TITLE }}</strong></h1>
            <p class="lead text-muted">Pembelian buku dan alatan pembelajaran Sekolah Rendah Islam Hidayah secara <i>online</i>.</p>
            <p>Untuk membeli, sila masukkan email anda.</p>
            <form action="/login" class="email-form">
                <fieldset class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Masukkan Email Anda">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Hantar</button>
                        </span>
                    </div>
                </fieldset>
                <small class="text-muted">Anda akan menerima email yang mengandungi pautan ke <strong>Dashboard</strong>. Klik pautan tersebut untuk meneruskan pembelian.</small>
            </form>
        </div>
        {% embed 'partials/footer.twig' %}{% endembed %}
    </section>
{% endblock %}