{% extends 'partials/base.twig' %}
{% set active_page = 'Polisi Kerahsiaan' %}

{% block content %}
    {% embed 'partials/navigation.twig' %}{% endembed %}
    <section id="body">
        <div class="container">
            <h5 class="text-center"><strong>Polisi Kerahsiaan</strong></h5>
            <hr>
            <div class="small" style="max-width:700px; margin: 0 auto;">
                <p>
                    Dengan menggunakan laman web ini ("Laman Web Sihniaga"),
                    maka anda bersetuju untuk terikat dengan versi semasa syarat-syarat penggunaan yang dinyatakan di sini.
                </p>

                <p>
                    <strong>Gambaran Keseluruhan</strong><br>
                    Kami menyedari pentingnya peranan kami dalam melindungi kerahsiaan maklumat yang kami ambil daripada anda.
                    Kami komited untuk menghormati kerahsiaan anda serta melindungi maklumat peribadi anda.
                </p>

                <p>
                    <strong>Tujuan</strong><br>
                    Polisi ini menerangkan bagaimana kami mengumpulkan, menggunakan, menyimpan, berkongsi dan melindungi
                    maklumat, termasuk maklumat peribadi. Kami komited untuk mengumpulkan, menggunakan, menyimpan, berkongsi
                    dan melindungi maklumat peribadi dengan penuh bertanggungjawab. Apabila menggunakan laman web SIHNIAGA,
                    anda bersetuju dengan pengumpulan maklumat peribadi. Maklumat yang diberikan hanya akan digunakan, disimpan
                    dan dikongsi bagi tujuan yang anda telah benarkan. Polisi ini merangkumi aktiviti dalam talian dan juga luar talian.
                </p>

                <p>
                    <strong>Keselamatan</strong><br>
                    Kami komited untuk mengekalkan aspek keselamatan maklumat peribadi anda. Laman web ini dilengkapi ciri-ciri
                    keselamatan bagi mencegah masalah kehilangan, penyalahgunaan dan pindaan maklumat sensitif. SIHNIAGA mengaplikasikan
                    langkah-langkah keselamatan yang sejajar dengan amalan industri standard bagi melindungi maklumat tersebut.
                </p>

                <p>
                    <strong>Langkah-langkah Yang Anda Boleh Ambil</strong><br>
                    Anda juga perlu memainkan peranan untuk mengekalkan keselamatan maklumat anda. Apabila mendaftarkan diri untuk
                    akaun atas talian, sila pastikan anda memilih kata laluan akaun yang sukar diteka oleh orang lain dan jangan
                    sekali-kali mendedahkannya kepada orang lain. Jika anda menggunakan komputer awam atau komputer yang dikongsi,
                    jangan sekali-kali membenarkan sistem mengingati ID log masuk atau kata laluan anda, dan pastikan anda log keluar
                    dari akaun anda setiap kali anda meninggalkan komputer.
                </p>
                <p>
                    <strong>Pengemaskinian Polisi Kerahsiaan Ini</strong><br>
                    SIHNIAGA berhak membuat perubahan kepada Polisi ini. Sekiranya kami membuat sebarang perubahan penting kepada
                    Polisi ini, ia akan dimuat naik di sini. Kami menggalakkan anda untuk menyemak halaman ini dengan kerap kerana
                    jika anda terus menggunakan laman web SIHNIAGA selepas sebarang perubahan dibuat, anda akan dianggap telah
                    bersetuju dengan perubahan sedemikian.
                </p>
            </div>


        </div>
    </section>
{% endblock %}