{% extends 'partials/base.twig' %}
{% set active_page = 'Terma & Syarat' %}

{% block content %}
    {% embed 'partials/navigation.twig' %}{% endembed %}
    <section id="body">
        <div class="container">
            <h5 class="text-center"><strong>Terma &amp; Syarat</strong></h5>
            <hr>
            <div class="small" style="max-width:700px; margin: 0 auto;">
                <ol>
                    <li>Semua pelanggan yang menggunakan sistem pembelian dalam talian ini bersetuju dengan segala terma dan syarat, polisi dan prosedur termaktub didalam laman ini dengan rujukan.</li>
                    <li>Semua proses transaksi pembelian dalam Ringgit Malaysia (RM) sahaja.</li>
                    <li>Pembelian akan diproses selepas transaksi pembayaran telah diterima.</li>
                    <li>Kami berhak untuk membatalkan sebarang pembelian dalam mana-mana keadaan semasa yang melibatkan ketiadaan produk berkenaan.</li>
                    <li>Tiada perubahan atau pembatalan ke atas pembelian dari pelanggan yang akan dilayan.</li>
                    <li>Apabila anda mendaftar sebagai ahli, anda juga akan diminta untuk memilih kata laluan, Anda bertanggungjawab penuh untuk mengekalkan kerahsiaan maklumat tersebut. Anda bersetuju untuk tidak mendedahkan maklumat akaun antaranya seperti kata nama dan kata laluan kepada ahli lain atau pihak ketiga. Anda bersetuju untuk memaklumkan kepada pihak SIHNIAGA dengan segera jika anda mengesyaki pengunaan akaun anda tanpa kebenaran keatas kata nama dan kata laluan anda. Anda bertanggungjawab sepenuhnya untuk sebarang penggunaan keatas akaun anda.</li>
                    <li>Kami boleh menamatkan penyediaan Laman Sesawang atau Perkhidmatan atau menyekat akses anda kepada mereka tanpa apa-apa notis terlebih dahulu kepada anda di mana (dengan cara contoh dan tanpa had): (a) terdapat perubahan peraturan atau undang-undang menghadkan keupayaan kami untuk menyediakan Laman Sesawang atau Perkhidmatan, (b) apa-apa kejadian yang di luar kawalan kami menghalang kita daripada terus menyediakan Laman Sesawang atau Perkhidmatan (contohnya, tanpa had, masalah teknikal, masalah kapasiti dan kegagalan komunikasi), atau (c) yang kita anggap mengikut budi bicara kami bahawa anda menyalahgunakan perkhidmatan yang disediakan oleh Laman Sesawang ini.</li>
                    <li>Sebarang perubahan tertakluk kepada terma dan syarat. Perubahan tersebut akan berkuat kuasa apabila disiarkan di Laman Web SIHNIAGA.</li>
                </ol>
            </div>


        </div>
    </section>
{% endblock %}