<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Kedai Buku SIH &mdash; Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/client/static/css/bookstore.css" />
</head>
<body ng-app="bookstore" id="shop">

<div class="container">
    <a id="cart_overview" class="small" href="#/bayar" ng-show="currentPath != '/bayar'">
        <span ng-bind="grandTotal().count"></span> item RM<span ng-bind="grandTotal().total | number:2"></span>
    </a>

    <div class="text-center shop-header">
        <h1><span class="lnr lnr-store"></span></h1>
        <h3>
            <strong>Kedai SIH</strong>
            <small class="text-muted">username@email.com</small>
        </h3>
        <ul class="list-inline small">
            <li><a ng-class="{ active: currentPath == '/' }" href="#/pilih">Pilih</a></li>
            <li><a ng-class="{ active: currentPath == '/bayar' || currentPath == '/confirm' }" href="#/bayar">Bayar <span ng-show="cartItems.length" class="notification text-warning">&bull;</span></a></li>
            <li><a href="/">Keluar</a></li>
        </ul>
    </div>
    <hr>
    <div ng-view autoscroll=""></div>
</div>


<script src="/client/static/js/min/_libraries-min.js"></script>
<script src="/client/static/js/_env.js"></script>
<script src="/client/static/js/_shop.js"></script>
</body>
</html>