<!DOCTYPE html>
<html>
<head>
    <title>Kedai Buku SIH &mdash; Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/client/static/css/bookstore.css" />
</head>
<body ng-app="bookstore">

<div class="container">
    <div class="text-center shop-header">
        <h1><span class="lnr lnr-store"></span></h1>
        <h3>
            <strong>Kedai SIH</strong>
            <small class="text-muted">username@email.com</small>
        </h3>
        <ul class="list-inline small">
            <li><a class="active" href="#">Pilih</a></li>
            <li><a href="#">Bayar <span class="notification text-warning">&bull;</span></a></li>
            <li><a href="/">Keluar</a></li>
        </ul>
    </div>
    <hr>
    <div ng-view></div>
</div>


<script src="/client/static/js/min/_libraries-min.js"></script>
<script src="/client/static/js/_env.js"></script>
<script src="/client/static/js/_app.js"></script>
</body>
</html>